body{
	background-color: #FAFAFA;
	display: block;
	margin: 8px;
	font-family: "Tahoma", sans-serif;
}

div{
	display: block;
	unicode-bidi: isolate;
}

.title{
	font-weight: bold;
	font-size: 84px;
}

a{
	text-decoration: none;
	color: blue;
}

.textfooter{
	text-decoration: none;
}

#q{
/*Search Bar*/
}
